services:
  redis:
    image: redis:8.2-alpine
    container_name: redis-standalone
    command: >
      redis-server
      --appendonly yes
      --protected-mode no
      --bind 0.0.0.0
    ports:
      - "6380:6379"
    volumes:
      - redis-data:/data
    restart: always

  rabbitmq:
    image: rabbitmq:4.2-management
    container_name: mdws_rabbitmq
    ports:
      - "${RABBITMQ_STREAM_PORT}:5552"
      - "${RABBITMQ_UI_PORT}:15672"
      - "${RABBITMQ_AMQP_PORT}:5672"
    environment:
      - RABBITMQ_DEFAULT_USER=${RABBITMQ_DEFAULT_USER}
      - RABBITMQ_DEFAULT_PASS=${RABBITMQ_DEFAULT_PASS}
      - RABBITMQ_SERVER_ADDITIONAL_ERL_ARGS=-rabbitmq_stream advertised_host '${RABBITMQ_ADVERTISED_HOST}'
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
      - ./enabled_plugins:/etc/rabbitmq/enabled_plugins
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

volumes:
  redis-data:
  rabbitmq_data:
